<button (click)="toggle()">Open / Close</button>

<div [@open-close]="open ? 'open' : 'close'">
  El componente está ahora mismo {{ open ? "Abierto" : "Cerrado" }}

  <p *ngIf="open">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tristique
    mi enim, sed interdum quam rutrum nec. Aliquam nec nunc tempus, bibendum
    ante convallis, pharetra ipsum. Nullam feugiat ipsum quis leo dignissim
    malesuada vitae porta lectus. Nunc at volutpat nunc, vitae auctor turpis.
    Suspendisse volutpat urna vitae massa tincidunt, et interdum turpis
    ultrices. Morbi ultrices in urna nec rutrum. Nullam convallis convallis
    hendrerit. Etiam pulvinar efficitur metus, eget volutpat nisl lobortis ut.
    Praesent sit amet mauris et orci semper lobortis vel eu ante. Aliquam
    scelerisque fermentum fermentum. Mauris non ex ac arcu luctus efficitur sed
    eu mi. Morbi et ornare enim.
  </p>
</div>
