<p >
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu nisi ante.
  Praesent aliquam sed felis at feugiat. Duis congue quam quis lacus venenatis,
  vel bibendum sapien placerat. Quisque tempor eros dapibus tellus venenatis
  lobortis. Donec in mi condimentum, auctor nibh non, dictum purus. Aliquam sed
  pellentesque sapien. Ut et neque in justo ornare tincidunt. Orci varius
  natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  Nullam feugiat nibh neque, ac egestas eros blandit posuere. Integer fringilla
  enim eu ante faucibus molestie. Sed dictum gravida quam, eget feugiat metus
  porta in. Nam non nisl ac nibh tempus faucibus. Nam nibh est, bibendum eget
  massa in, consectetur posuere lectus.
</p>
<p [appSubrayado] = "'blue'">
  In hac habitasse platea dictumst. Interdum et malesuada fames ac ante ipsum
  primis in faucibus. Suspendisse turpis dui, varius vel maximus sit amet,
  feugiat in sapien. Fusce bibendum nisl mi, in interdum diam dignissim eget.
  Nam mollis justo placerat lacus congue, sit amet scelerisque libero congue.
  Quisque sit amet tortor nec orci tincidunt pretium. Vestibulum ante ipsum
  primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi nec
  quam eget mi malesuada placerat. Curabitur libero mauris, dignissim imperdiet
  velit ut, pulvinar interdum turpis. Morbi varius orci ac metus suscipit
  feugiat. Ut aliquet, felis sed feugiat suscipit, eros nibh fermentum justo, eu
  consectetur sem enim ac urna.
</p>
<p [appSubrayado] = "'red'">
  Aenean fringilla ipsum in ligula pulvinar, eget tempus mauris suscipit.
  Integer venenatis metus felis, id rutrum orci ornare eget. Quisque sed semper
  urna, ut laoreet ipsum. Mauris ut consectetur est. Nam sit amet ultricies
  tellus. Quisque tincidunt ac turpis ac dictum. Nunc vel arcu ac dolor ornare
  porta. Mauris placerat tortor ac odio sagittis porta. Aliquam ultricies nulla
  tristique, tincidunt velit sit amet, fringilla risus. Nullam sit amet faucibus
  lectus. Cras dignissim hendrerit tellus vel malesuada. Aliquam finibus nec
  felis vulputate rhoncus.
</p>
<p>
  Aenean nec aliquet sem. Donec magna elit, dictum quis lorem eu, commodo
  fringilla leo. Aenean sagittis nisl nec urna vehicula, vitae mollis tortor
  viverra. Etiam aliquam sem vel magna imperdiet, eu mollis neque sagittis.
  Integer ut neque nec risus volutpat laoreet eu et nisl. Suspendisse potenti.
  Integer sapien erat, consequat a pellentesque sed, vulputate non nunc. Integer
  et egestas nunc. Cras nisi justo, molestie a ultrices eu, malesuada ac nisi.
</p>
<p>
  Proin blandit neque ut pellentesque ultricies. In tincidunt lorem gravida,
  ultrices nunc in, ullamcorper metus. Sed nec fringilla turpis. Donec
  sollicitudin nibh turpis. Maecenas cursus pretium convallis. Phasellus a
  efficitur est. Quisque eu ornare lacus, sed convallis metus. Cras ut volutpat
  augue. Cras pellentesque neque eget elit blandit tincidunt. Nulla in mauris
  nibh. In imperdiet finibus arcu non luctus. Praesent in massa quam. Duis
  luctus non mi e
</p>
